
<p>
  <strong>Pharmacyno:</strong>
  <%= @pharmacy.pahrmacyno %>
</p>

<p>
  <strong>Pname:</strong>
  <%= @pharmacy.pharmacyname %>
</p>

<p>
  <strong>Wardno:</strong>
  <%= @pharmacy.wardno %>
</p>

<p>
  <strong>Hname:</strong>
  <%= @pharmacy.hname %>
</p>
